@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
}

/* body {
    width: 1500px;
} */

#headerWrap {
    text-align: center;
    height: 170px;
    margin-top: 50px;
}

#insertUser {
    padding: 0 0 0 40%;
}

#insertUser>h1 {
    font-size: 30px;
    margin-bottom: 60px;
    color: rgb(160, 95, 133);
}

input[type=text],
input[type=password] {
    margin: 0 0 15px 0;
    width: 300px;
    height: 30px;
}

#insertUser label {
    display: block;
    letter-spacing: 1px;
    font-size: 13px;
    font-weight: bold;

}

#insertUser #idCk {
    display: inline-block;
    width: 60px;
    height: 28px;
    background-color: rgb(160, 95, 133);
    border: none;
    color: #fff;
    font-weight: bold;
    text-align: center;
    cursor: pointer;
    font-size: 11px;

}

form .btn #btn {
    width: 110px;
    background-color: rgb(160, 95, 133);
    border: none;
    color: #fff;
    padding: 15px 0;
    text-align: center;
    font-weight: bold;
    display: inline-block;
    font-size: 15px;
    margin: 15px 100px;
    cursor: pointer;
}